@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;600;700&display=swap');

body {
  font-family: 'Public Sans', 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}